@import url("fonts/style.css");

@mixin large-text {
    font-family:"PF Din Text Universal", sans-serif; 
    line-height: 40px;
    font-size: 28px;
    color: #333333;
    text-align: center;
}

@mixin small-text {
    font-family:"PF Din Text Universal", sans-serif; 
    line-height: 21px;
    font-size: 16px;
    color: #000000;
}

@mixin green_button {
    width: 208px;
    height: 45px;
    background: #00B596;
    border: 2px solid  #00B596;
    border-radius: 3px;
    font-family:"PF Din Text Universal", sans-serif; 
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
    transition-duration: 0.3s;

    &:hover {
        border: 2px solid  #039c83;
        background-color: #039c83;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    }

    &:focus {
        outline: none;
        
    }
}

body {
    margin: 0;
}

header {
    background: url('../img/bg_header.jpg') center center/cover no-repeat;
    min-height: 857px;
    
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.logo_picture {
    height:75px ;
    width: 333px;
    margin-top: 68px;
    margin-left: 82px;
    margin-bottom: 30px;
}

.header_info{
    display: flex;
    justify-content: space-between;

    .bonus_info {
        @include large-text;

        h2{
        margin-bottom: 18px;
        }

        span {
            text-transform:uppercase;
        }
        img {
            min-width: 484px;
            min-height: 151px;
        }
    }
    .window {
        min-width :380px;
        min-height:615px;
        background-color: #fff; 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding-left: 20px;

        .SRButton {
            width: 180px;
            height: 48px;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 21px;
            line-height: 24px;
            color: #A4A0A0;
            border: none;
            background-color: #fff;
            position: relative;
            padding: 0;
            transition-duration: 0.3s;

            &:focus {
                outline: none;   
            }

            &:hover {
                color:#009E82;

                &::after {
                    content: "";
                    width: 180px;
                    height: 2px;
                    position: absolute;
                    background: #05c2a2;
                    bottom: 0px;
                    left: 0px;
     
                }

                &:focus {
                    outline: none;
                    
                }
            }

            

            &::after {
                content: "";
                width: 180px;
                height: 2px;
                position: absolute;
                background: #A4A0A0;
                bottom: 0px;
                left: 0px;
                transition-duration: 0.3s;
 
            }
        }
        .input_field {
            width: 80%;
            height: 70px;
            padding-left: 5px;
            margin: 0 auto;
            margin-left: 15px;
            margin-bottom: 18px;
            border: 1px solid rgb(133, 133, 133);
            border-radius: 3px;
            font-size: 17px;
        }
        
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            display: none;
        }

        label{
            @include small-text;
            display: block;
            margin-bottom: 20px;
            margin-left: 15px;
        }

        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        
        .custom-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            background-color: #fff;
        }
        .custom-checkbox+label::before {
            content: '';
            width: 1em;
            height: 1em;
            border: 1px solid #0ABB86;
            border-radius: 2px;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 80% 80%;
        }
        
        .custom-checkbox:checked+label::before {
            content: '';
            display: block; 
            background: url('../img/check-solid.svg') center center/cover no-repeat;
            background-color: #0ABB86;
        }

        hr{
            width: 98%;
            color:rgba(29, 25, 25, 0.253);
            margin-bottom: 15px;
            
        }

        .green_btn{
            @include green_button ;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        p{
            @include small-text;
            margin-left: 15px;
            text-align: center;
        }

        .header_links {
            display: flex;
            justify-content: space-around;
            
            

            .header_icon {
                display: block;
                //justify-content: center;
                width: 42px;
                height: 42px; 
                background: #BEBEBE; 
                border-radius: 5px;
                margin-bottom: 45px;
                    &:hover{
                        background: #aaa9a9; 
                    }
                i{
                    font-size: 24px;
                    color: #fff;
                    margin-top: 8px;
                    margin-left: 8px;

                    

                }
                
            }

        }

    }
}  

.bonus_descr{
    h2{
        @include large-text;
        margin: 0 auto;
        margin-top: 70px;
        font-size: 36px;

    }
    &_text{
        @include small-text;
        text-align: center;
        margin-top: 44px;
        line-height: 26px;
    }

    &_reviews  {
        @include small-text;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 600;

        .coment{
            position: relative;
        }

        .coment h3::before {
            content: '';
            position: absolute;
            top:20px;
            left:-50px;
            display: block;
            background: url('../img/“.svg');
            width: 36px;
            height: 29px;
        }

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
        }

    }
    .green_btn {
        @include green_button;
        margin: 0 auto;
        margin-top: 57px;
        margin-bottom: 100px;
    }
}

.bonus_advantages {
    background: url('../img/bg-advantages.jpg') center center/cover no-repeat;
    min-height: 1000px;

    h2{
        @include large-text;
        padding-top: 70px;
        font-size: 36px;
        margin-top: 0;
        text-align: left;
    }

    .advantage_blocs {
        display:flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 62px;
        max-width: 950px;

       

        img{
            display: block;
            margin: 0 auto;
            margin-top: 35px;
        }
        
        div{
            width: 225px;
            height: 225px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            margin-right: 41px;
            margin-bottom: 41px;
            transition-duration: 0.3s;

            &:hover {
                background: #FFFFFF;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            }

            p{
                @include small-text;
                margin-top: 37px;
                text-align: center;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .pluses_block {
        display: flex;
        margin-left: 35px;
        @include small-text;
        font-size: 20px;

        div {
            position: relative;
            margin-right: 60px;
            margin-top: 75px;
        }

        div::before {
            content: '';
            position: absolute;
            top:-2px;
            left:-35px;
            display: block;
            background: url('../img/done-2block.svg');
            width: 26px;
            height: 26px;
            
        }
    }

    .green_btn {
        @include green_button;
        margin-bottom: 120px;
        margin-top: 100px;
    }
}
.three_steps {

    h2{
        @include large-text;
        padding-top: 70px;
        font-size: 36px;
        margin-top: 20px;
        text-align: center;
    }

    .step_blocs {
        display: flex;
        @include small-text;
        justify-content: space-around;
        margin-top: 130px;
        margin-left: 110px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 600;
        
        .step1{
            transition-duration: 0.3s;
        }

        div>p:hover {
            text-decoration: underline;
            
        }


        p{
            display: inline-block;
            margin-left: 25px;
            color: #2F2C2C;
            font-size: 20px;
            
        }
    }

    .green_btn {
        @include green_button;
        margin: 0 auto;
        margin-bottom: 120px;
        margin-top: 85px;    
    }
}

footer {
    padding-top: 70px;
    background: #E5E5E5;
    min-height: 350px;
    font-family:"PF Din Text Universal", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    .footer_button {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        .footer_links {
            display: flex;

            a>i:hover{
                    color: #55ACEE;
                }
            
            i{
                margin-left: 37px;
                color: #a5a3a3;
                font-size: 21px;

                
            }
        }
    }

}