@import url("/fonts/style.css");

@mixin large-text {
    font-family:"PF Din Text Universal", sans-serif; 
    line-height: 40px;
    font-size: 28px;
    color: #333333;
    text-align: center;
}

@mixin small-text {
    font-family:"PF Din Text Universal", sans-serif; 
    line-height: 21px;
    font-size: 16px;
    color: #000000;
}

@mixin green_button {
    width: 208px;
    height: 45px;
    background: #00B596;
    border-radius: 3px;
    font-family:"PF Din Text Universal", sans-serif; 
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;
}

body {
    margin: 0;
}

header {
    background: url("/img/bg_header.jpg")center center/ cover no-repeat;
    min-height: 857px;
    
}

.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.logo_picture {
    height:75px ;
    width: 333px;
    margin-top: 68px;
    margin-left: 82px;
    margin-bottom: 30px;
}

.header_info{
    display: flex;
    justify-content: space-between;

    .bonus_info {
        @include large-text;

        h2{
        margin-bottom: 18px;
        }

        span {
            text-transform:uppercase;
        }
        img {
            min-width: 484px;
            min-height: 151px;
        }
    }
    .window {
        min-width :380px;
        min-height:615px;
        background-color: #fff; 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        padding-left: 20px;

        .SRButton {
            width: 180px;
            height: 48px;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 19px;
            line-height: 24px;
            color:#009E82;
            border: none;
            background-color: #fff;
            position: relative;
            padding: 0;

            

            &::after {
                content: "";
                width: 180px;
                height: 2px;
                position: absolute;
                background: #05c2a2;
                bottom: 10px;
                left: 0px;
 
            }
        }
        .input_field {
            width: 80%;
            height: 70px;
            padding-left: 5px;
            margin: 0 auto;
            margin-left: 15px;
            margin-bottom: 18px;
            border: 1px solid rgb(133, 133, 133);
            border-radius: 3px;
            font-size: 17px;
        }
        
        label{
            @include small-text;
            display: block;
            margin-bottom: 20px;
            margin-left: 15px;
        }

        hr{
            width: 98%;
            color:rgba(29, 25, 25, 0.253);
            margin-bottom: 15px;
            
        }

        .green_btn{
            @include green_button ;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        p{
            @include small-text;
            margin-left: 15px;
            text-align: center;
        }

        .header_links {
            display: flex;
            justify-content: space-around;
            

            .header_icon {
                width: 42px;
                height: 42px; 
                background: #BEBEBE; 
                border-radius: 5px;
                margin-bottom: 45px;
                
                i{
                    font-size: 28px;
                    color: #fff;
                    margin-left: 4px;
                    margin-top: 6px;

                 
                }
                
            }

        }

    }
}  

.bonus_descr{
    h2{
        @include large-text;
        margin: 0 auto;
        margin-top: 70px;
        font-size: 36px;

    }
    &_text{
        @include small-text;
        text-align: center;
        margin-top: 44px;
        line-height: 26px;
    }

    &_reviews  {
        @include small-text;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 600;

        .coment{
            position: relative;
        }

        .coment h3::before {
            content: '';
            position: absolute;
            top:20px;
            left:-50px;
            display: block;
            background: url('/img/“.svg');
            width: 36px;
            height: 29px;
        }

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
        }

    }
    .green_btn {
        @include green_button;
        margin: 0 auto;
        margin-top: 57px;
        margin-bottom: 100px;
    }
}

.bonus_advantages {
    background: url("/img/bg-advantages.jpg") center center/ cover no-repeat;
    min-height: 1000px;

    h2{
        @include large-text;
        padding-top: 70px;
        font-size: 36px;
        margin-top: 0;
        text-align: left;
    }

    .advantage_blocs {
        display:flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 62px;
        max-width: 950px;
        
        div{
            width: 225px;
            height: 225px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            margin-right: 41px;
            margin-bottom: 41px;
            p{
                @include small-text;
            }
        }
    }
    .pluses_block {
        display: flex;
        justify-content: space-between;
        @include small-text;
        font-size: 20px;
        position: relative;

        div::before {
            content: '';
            position: absolute;
            top:20px;
            left:-50px;
            display: block;
            background: url('/img/done-2block.svg');
            width: 36px;
            height: 29px;
        }
    }

    .green_btn {
        @include green_button;
        margin-top: 57px;
        margin-bottom: 100px;
    }
    
}